@use './scss-modules/page-setup.scss';
@use './scss-modules/search-btn.scss';
.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0e8676;

  padding: 40px 0;
}
.header {
  h1 {
    color: rgb(0, 3, 3);
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 5px;
    span {
      font-size: 48px;
    }
  }
}
.search-result-header {
  h2 {
    color: white;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  color: rgb(0, 0, 0);
}
.booksCard {
  padding: 10px;
  display: flex;
  background: white;
  border-radius: 5px;
  a {
    text-decoration: none;
  }
  &__image {
    margin-right: 15px;
    background-color: rgb(196, 204, 178);
  }
  &__content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    letter-spacing: 0.6px;
    &__title {
    }
    &__author {
    }
    &__button {
      width: 100px;
      height: 40px;
      background-color: rgb(4, 46, 44);
      border-radius: 20px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      padding: 5px;
      color: white;
    }
  }
}
