@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto Slab", serif;
  background-color: #0e8676;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c7c0c0;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c7c0c0;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c7c0c0;
}

.search__form button, .search__form input {
  background: none;
  border: none;
  outline: none;
}

.search__form input {
  width: 400px;
  height: 40px;
  padding: 10px 50px 10px 0;
  border-bottom: 2px solid white;
  color: white;
  font-size: 20px;
  line-height: 40px;
  font-family: "Roboto Slab", serif;
  word-spacing: 2px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.search__form button {
  height: 40px;
  margin-left: -30px;
}
.search__form button:hover {
  cursor: pointer;
}
.search__form button i {
  color: white;
  font-size: 20px;
  line-height: 20px;
}
@media only screen and (max-width: 414px) {
  .search {
    display: flex;
    flex-direction: column;
  }
  .search input {
    width: auto;
    padding: 10px 10px 10px 0;
    overflow: hidden;
  }
  .search button {
    margin-left: 0;
  }
}
@media only screen and (max-width: 331px) {
  .search {
    display: flex;
    flex-direction: column;
  }
  .search input {
    width: 200px;
    padding: 10px 10px 10px 0;
    overflow: hidden;
  }
  .search button {
    margin-left: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  min-height: 100vh;
  box-sizing: border-box;
}

.header h1 {
  color: #6af5f5;
  font-size: 2.5rem;
  letter-spacing: 2px;
  word-spacing: 5px;
  margin-bottom: 40px;
}
.header h1 span {
  font-size: 3rem;
}

.search-result-header h2 {
  color: white;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  color: black;
}
@media only screen and (max-width: 985px) {
  .books-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 675px) {
  .books-grid {
    grid-template-columns: 1fr;
  }
}

.booksCard {
  padding: 10px;
  display: flex;
  background: white;
  border-radius: 5px;
}
.booksCard a {
  text-decoration: none;
}
.booksCard__image {
  margin-right: 15px;
  background-color: #c4ccb2;
}
@media only screen and (max-width: 370px) {
  .booksCard__image {
    display: none;
  }
}
.booksCard__content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  letter-spacing: 0.6px;
}
.booksCard__content__author {
  margin: 10px 0;
}
.booksCard__content__button {
  width: 100px;
  height: 40px;
  background-color: #042e2c;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  padding: 5px;
  color: white;
}
