@use '../scss-modules/fonts';
@use './variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto Slab', serif;
  background-color: variables.$bodyColor;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: variables.$placeholderColor;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: variables.$placeholderColor;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: variables.$placeholderColor;
}
