@use '../scss-modules/fonts';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto Slab', serif;
  background-color: #0e8676;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(199, 192, 192);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(199, 192, 192);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(199, 192, 192);
}
