%remove-border {
  background: none;
  border: none;
  outline: none;
}
.search {
  &__form {
    input {
      width: 400px;
      height: 40px;
      padding: 10px 50px 10px 0;
      @extend %remove-border;
      border-bottom: 2px solid white;
      color: white;
      font-size: 20px;
      line-height: 40px;
      font-family: 'Roboto Slab', serif;
      word-spacing: 2px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    button {
      height: 40px;
      margin-left: -30px;

      @extend %remove-border;
      &:hover {
        cursor: pointer;
      }
      i {
        color: white;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
  @media only screen and(max-width:414px) {
    display: flex;
    flex-direction: column;
    input {
      width: auto;
      padding: 10px 10px 10px 0;
      overflow: hidden;
    }
    button {
      margin-left: 0;
    }
  }
  @media only screen and(max-width:331px) {
    display: flex;
    flex-direction: column;
    input {
      width: 200px;
      padding: 10px 10px 10px 0;
      overflow: hidden;
    }
    button {
      margin-left: 0;
    }
  }
}
